extends layout

block content
    div.title
        h2 Juego de dados virtual
        img(src="https://cdn-icons-png.flaticon.com/512/2228/2228426.png")

    form#createGame(class="form", autocomplete="off",action="", onsubmit="return validation()" method="post" )
      div.form-group  
        label(class="form-label", for='gamers') 
            input#player1.form-control(
            type="text",
            placeholder="Player1",
            name="gamers",
            value="",
            required)

        label(for='gamers') 
            input#player2(
            class="form-control", 
            type="text",
            placeholder="Player2", 
            name="gamers",
            value="",
            required)

        label(for='gamers') 
            input#player3(
            class="form-control",
            type="text",
            placeholder="Player3", 
            name="gamers",value="",
            required)
        button#submit(
            class="form-control btn-primary",
            type="submit", 
            onsubmit="getData()") Crear Juego