extends layout

block content
    
    form#createGame(class="form", action="", method="post")
      div.form-group  
        h2 juego de dados virtual
        label(class="form-label",for='gamers') 
            input#player1.form-control(
            
            type="text",
            placeholder="Player1",
            name="gamers",
            value="",
            required)

        label(for='gamers') 
            input#player2(
            class="form-control", 
            type="text",
            placeholder="Player2", 
            name="gamers",
            value="",
            required)

        label(for='gamers') 
            input#player3(
            class="form-control",
            type="text",
            placeholder="Player3", 
            name="gamers",value="",
            required)
        button#submit(
            class="form-control btn-primary",
            type="submit", 
            onsubmit="getData()") Enviar datos
    